body {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
}




body {
    min-height: 100vh;
}

.scrollspy{
    overflow: auto;
}


#profilePic {
    border-radius: 50%;
}

.cart-image {
    height: 100px;
    width: 100px;
}


@media screen and (max-width: 769px) {
    .cart-image {
        height: 150px;
        width: 150px;
    }
}
@media screen and (max-width: 512px) {
    .cart-image {
        height: 200px;
        width: 200px;
    }
}
@media screen and (max-width: 455px) {
    .cart-image {
        height: 100px;
        width: 100px;
        margin-bottom: 10px;
    }
    
    .cartText {
        flex-direction: column !important;
    }
    
    .cart-product-name {
        font-size: 1.3rem !important;
    }
    
    .cart-product-des {
        font-size: .9rem ;
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 450px) {
    #profilePic {
        height: 120px;
        width: 120px;
    }
}


@media screen and (max-width: 410px) {
    #profilePic {
        height: 100px;
        width: 100px;
    }
    
    .userName {
        font-size: 1.3rem !important;
    }
    
    .userEmail {
        font-size: .8rem;
    }
    #verifyBtn {
        font-size: .9rem;
    }
}


@media screen and (max-width: 384px) {
    #dNone {
        display: none;
    }

    #dBlock {
        display: block !important;
    }



    #info {
        width: 100% !important;
        align-items: center !important;
    }
}